@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "flowbite/dist/flowbite.css";

@theme {
  --color-main-color: rgb(0, 111, 111);
  --color-text-color: rgb(195, 255, 255);
  --text-28: 1.75rem;
  --color-: rgb(158, 35, 35);
  --gap-my: 60px;
}

.my-card {}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-detail{
  grid-template-columns: 70% 30%;
}