@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "flowbite/dist/flowbite.css";

@theme {
  --color-main-color: rgb(0, 111, 111);
  --color-text-color: rgb(195, 255, 255);
  --text-28: 1.75rem;
  --color-: rgb(158, 35, 35);
  --gap-my: 60px;
}

.my-card {}



.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-detail{
  grid-template-columns: 70% 30%;
}


/* @media (max-width:700px){
.content-detail{
  grid-template-columns: 1fr;
  grid-template-rows: 300px 300px;
}
} */


/*----------forms----------*/
.form_item input{
  border:black 2px solid;
  background-color: rgb(212, 212, 212);
  color: black;
  transition: 0.3s;
}
/* .form_item input:hover {
  box-shadow: 0px 0px 15px 0px black;

} */

.form_item input:focus{
  outline: 1px solid black;
  outline-offset: 5px;
}

.form_item input:disabled{
  color: #444;
  border-color: #444;
  background-color: lightgrey;
}

.form_item input:disabled:hover,
.form_item input:disabled:focus{
  outline: none;
  box-shadow: none;
}
 .form_item input[type=submit]{
  background-color: black;
  color: white;
 }

 .form_item input[type=text]:valid{
  
  background-color: lightgray;
 }

 .form_item input[type=text]:invalid{
  border-color: black;
  background-color: white;
 }

.form_item .color-radio{
  /* appearance: auto;
  accent-color: black;
  width: 20px;
  height: 20px; */
  display: none;
}

.color-lebel{
  display: block;
  width: 40px;
  height: 40px;
  border: black 1px solid;
  transition: 0.3s;
}

.color-radio:checked+.color-lebel{
  outline: gray 2px solid;
  outline-offset: 3px;
}

.filter-color{
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
}

