@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-main-color: rgb(0, 111, 111);
  --color-text-color:rgb(195, 255, 255);
  --text-28:1.75rem;
  --gap-my: 60px;
}

.my-card {
  
}
