@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --color-main-color: rgb(0, 111, 111);
  --color-text-color:rgb(195, 255, 255);
  --text-28:1.75rem;
  --color-:rgb(158, 35, 35);
  --gap-my: 60px;
}

.my-card {
  
}


